doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    meta(keywords="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    title pug
    link(rel="stylesheet", href="css/style.min.css")
    script(src="js/main.js")
  body
    h1= message